
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding-inline: 1rem;
}

.header h1 {
  font-size: 3rem;
}

.header a {
  text-decoration: none;
  color: inherit;
  padding: 0.2rem;
  margin-inline: 1rem;
  font-size: 1.4rem;
  transition-duration: 120ms;
  transition-property: border, background-color;
  border-bottom: 2px solid transparent;
}

.header a:hover {
  border-bottom: 2px solid orangered;
  background-color: rgba(207, 64, 64, 0.05);
}

.header a:active {
  background-color: rgba(207, 64, 64, 0.1);
}
