* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#root {
  height: 100vh;
}

h2 {
  width: fit-content;
  position: relative;
  margin-bottom: 2rem;
}

h2::after {
  position: absolute;
  content: "";
  display: block;
  height: 0.2rem;
  background-color: orangered;
  width: 100%;
  bottom: -0.4rem;
}
